<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/product_card.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>HydroHomies</title>
</head>
<body>
    <header id="header">
    </header>
    <main>
        <div class="left-panel">
        </div>
        <div class="center-panel">
            <section class="landing-section">
                <section class="campaign"></section>
                <section class="frontpage-section" id="category-section">
                    <h1 class="frontpage-section-header">
                        Browse our categories:
                    </h1>
                    <div class="category-display">
                        <div class="category-card category-card-carbonated">
                            <div class="category-name">Carbonated</div>
                            <div class="category-description">Description for Carbonated Description for Carbonated Description for Carbonated </div>
                        </div>
                        <div class="category-card category-card-still">
                            <div class="category-name">Still</div>
                            <div class="category-description"> Description for Still Description for Still Description for Still</div>
                        </div>
                        <div class="category-card category-card-mineral">
                            <div class="category-name">Mineral</div>
                            <div class="category-description">Description for Mineral Description for Mineral Description for Mineral </div>
                        </div>
                        <div class="category-card category-card-flavoured">
                            <div class="category-name">Flavoured</div>
                            <div class="category-description">Description for Flavoured Description for Flavoured Description for Flavoured </div>
                        </div>
                        <div class="category-card category-card-electrolyte">
                            <div class="category-name">Electrolyte</div>
                            <div class="category-description">Description for Electrolyte Description for Electrolyte Description for Electrolyte</div>
                        </div>
                        <div class="category-card category-card-craftwater">
                            <div class="category-name">Craft water</div>
                            <div class="category-description">Description for craft water Description for craft water Description for craft water </div>
                        </div>
                    </div>
                </section>
                <section class="frontpage-section" id="recommendation-section">
                    <h1 class="frontpage-section-header">
                        Our recommendations:
                    </h1>
                    <div class="offer-display" id="offers"></div>
                </section>
            </section>
        </div>
        <div class="right-panel">
        </div>
    </main>
    <footer id="footer">
    </footer>
    <script type="module" src="../scripts/setup.js"></script>
    <script type="module" src="../scripts/index.js"></script>
    <script src="../scripts/to_cart.js"></script>
</body>
</html>