<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../assets/icons/empty-droplet.png" type="image/x-icon">
    <title>HydroHomies | Login</title>
  </head>
  <body>
    <header id = header>
    </header>

    <main>
      <div class="left-panel"></div>
      <div class="center-panel">
        <form action="index.html" onsubmit="login()">
          <h1>Welcome back!</h1>
          <h2>Log in to your account</h2>

          <div class = "form-element">
            <div>
                <label for="email"><b>Email adress</b></label>
            </div>
            <input
              type="text"
              placeholder="Enter email address"
              name="email"
              required
            />
          </div>
          <div class = "form-element">
            <div>
                <label for="psw"><b>Password</b></label>  
            </div>
            
            <input
              type="password"
              placeholder="Enter password"
              name="psw"
              required
            />
          </div>
          <button type="submit" class="button">Login</button>
        </form>
        <div>
          <h2>Are you new here?</h2>
          <a href="register.html">
            <button type="create-account" class="button">Create Account</button>
          </a>
        </div>
      </div>
      <div class="right-panel"></div>
    </main>
    <footer id="footer">
    </footer>

    <script>
        // Check if the user is logged in
        const isLoggedIn = false; // Change this based on your authentication logic
      
        // Get the profile link element
        const profileLink = document.getElementById('profileLink');
      
        // Set the appropriate href based on the user's authentication status
        if (isLoggedIn) {
          profileLink.href = './profile.html'; // Redirect to logged-in profile page
        } else {
          profileLink.href = './login.html'; // Redirect to login page if not logged in
        }

        function login() {
            isLoggedIn = true;
        }

      </script>
      <script type="module" src="../scripts/setup.js"></script>


  </body>
</html>
