<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/stylesProfile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>HydroHomies</title>
</head>

<body>
    <header id="header">
    </header>

    <main>
        <div class="profile-left-panel">
            <div class="left-panel" id="left-panel-profile">
                <h1 id="usernameHeading-profile"></h1>
                <section>
                    <h2><a href="#Privacy">Privacy</a></h2>
                    <ul class="Profile-index">
                        <li class="Profile-subindex">Account Information</li>
                        <li>Personal Information</li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="center-panel" id="center-panel-profile">
            <h1 id="Privacy">Privacy</h1>
            <h2>Account Information</h2>
            <h3>Username: </h3> <p><span id="username-display"></span></p>
            <h3>Email Address: </h3> <p><span id="email-display"></span></p>
            <h3>Phone Number: </h3> <p><span id="phonenumber-display"></span></p>
            <h3>Password: </h3> <p><span id="password-display"></span></p>
            <h3><a href="">Change Password</a></h3>
            <h3>Payment Method: <span id="paymentMethodInfo"></span></h3><p><button class="filter-collapse-button">X</button></p>
            <h2>User Information</h2>
            <h3>First name:</h3> <p><span id="firstname-display"></span></p>
            <h3>Last name: </h3> <p><span id="lastname-display"></span></p>
            <h3>City: </h3> <p><span id="city-display"></span></p>
            <h3>Home Address: </h3> <p><span id="address-display"></span></p>
            <!-- <h4>Zip Code: </h4> <p><span id="homeZipCode"></span></p>
            <h4>Country: </h4> <p><span id="homeAddressCountry"></span></p>
            <h3>Office Address: </h3> <p><span id="officeAddress"></span></p>
            <h4>Zip Code: </h4> <p><span id="officeZipCode"></span></p>
            <h4>County: </h4> <p><span id="officeAddressCountry"></span></p> -->

        </div>
        <div class="right-panel" id="right-panel-profile">
            <form action="profile.html">
                <label for="fname">First name:</label><br />
                <input type="text" id="firstName" name="fname" value="" /><br />

                <label for="lname">Sirname:</label><br />
                <input type="text" id="lastName" name="lname" value="" /><br />

                <label for="username">Username:</label> <br />
                <input type="text" id="userName" user="usernameProfile" value="" /><br />

                <label for="email">Email:</label> <br />
                <input type="text" id="email" name="email" value="" /><br />

                <label for="phonenumber">Phone Number:</label> <br />
                <input type="text" id="phoneNumber" name="phonenumber" value=""/><br />

                <label for="password">Password: </label> <br />
                <input type="text" id="password" name="password" value=""/><br />

                <label for="addressHome">Address: </label> <br />
                <input type="text" id="address" name="addressHome" value="" /><br /><br />

                <label for="city">City: </label> <br />
                <input type="text" id="city" name="ciy" value="" /><br /><br />

                <input type="submit" value="Submit" id="submit-user-info-changes" />
            </form>
        </div>

    </main>
    <footer id="footer">
    </footer>
    <script type="module" src="../scripts/setup.js"></script>

    <script type="module" src="../scripts/to_cart.js"></script>
    <script type="module" src="../scripts/userinfo.js"></script>
</body>
</html>