<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../assets/icons/empty-droplet.png" type="image/x-icon">
    <title>HydroHomies | Create account</title>
  </head>
  <body>
    <header>
      <div class="header-logo"><a href="./index.html">HydroHomies</a></div>
      <div class="header-lists">
        <ul class="header-links">
          <li><a href="./all_products.html">Products</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
        <ul class="header-links">
            <li><a id="profileLink" href="#"><img src="../../assets/icons/profile.png" alt="profile-picture" height="36px"></a></li>
          <li>
            <a href="./index.html"><img src="../../assets/icons/exit.png" alt="exit-picture" height="36px"/></a>
          </li>
          <li>
            <a href="./shopping_cart.html"><img src="../../assets/icons/shopping-cart.png" alt="shopping-cart-picture" height="36px"/></a>
          </li>
        </ul>
      </div>
    </header>

    <main>
      <div class="left-panel"></div>
      <div class="center-panel">
        <form id="registration-form">
          <h1>Welcome!</h1>
          <h2>Fill out your information below</h2>

          <div class = "form-element">
            <div>
                <label for="fname"><b>First name</b></label>
            </div>
            <input
              type="text"
              id="firstName"
              placeholder="Enter first name"
              name="fname"
              required
            />
          </div>

          <div class = "form-element">
            <div>
                <label for="lname"><b>Last name</b></label>
            </div>
            <input
              type="text"
              id="lastName"
              placeholder="Enter last name"
              name="lname"

            />
          </div>

          <div class = "form-element">
            <div>
                <label for="addressHome"><b>Address</b></label>
            </div>
            <input
              type="text"
              id="address"
              placeholder="Enter address"
              name="addressHome"
              
            />
          </div>

          <div class = "form-element">
            <div>
                <label for="city"><b>City</b></label>
            </div>
            <input
              type="text"
              placeholder="Enter city"
              name="city"
              id="city"

            />
          </div>
          <div class="form-element">
            <div>
              <label for="username"><b>Username</b></label>
            </div>
              <input 
              type="text" 
              id="userName" 
              placeholder="Enter Username" 
              name="username" />
              
          </div>
          <div class = "form-element">
            <div>
                <label for="email"><b>Email adress</b></label>
            </div>
            <input
              type="text"
              id="email"
              placeholder="Enter email address"
              name="email"
              
            />
          </div>
          <div class = "form-element">
            <div>
                <label for="phonenumber"><b>Email adress</b></label>
            </div>
            <input
              type="text"
              id="phoneNumber"
              placeholder="Enter phone number"
              name="phonenumber"
              
            />
          </div>
          <div class = "form-element">
            <div>
                <label for="psw"><b>Password</b></label>  
            </div>
            
            <input
              type="password"
              id="password"
              placeholder="Enter password"
              name="psw"
              
            />
          </div>
          <button type="submit" class="button">Create account</button>
        </form>
        <div>
          <h2>Already have an account?</h2>
          <a href="login.html">
            <button type="log-in" class="button">Log in</button>
          </a>
        </div>
      </div>
      <div class="right-panel"></div>
    </main>
    <footer id="footer">
        <div class="footer-column-container">
            <div class="footer-column">
                <h1>Contact</h1>
                <ul>
                    <li>Phone number: +45 12 34 56 78</li>
                    <li>Email: hydrohomies@hydrohomies.dk</li>
                    <li>Address: 2300 København, Rued Langgaards Vej 7, Room 4A46 </li>
                </ul>
            </div>
            <div class="footer-column">
                <h1>Follow us</h1>
                <ul>
                    <li>Reddit: <span><a href="https://www.reddit.com/r/HydroHomies/">r/HydroHomies</a> </li></span>
                    <li>Instagram: <span><a href="https://www.instagram.com/hydrohomies/">@HydroHomies</a></li></span>
                    <li>X: <span><a href="https://twitter.com/hydro_homies">@hydro_homies</a></li></span>
                </ul>
            </div>
        </div>
    </footer>

    <script type="module" src="../scripts/register.js"></script>
    </body>
</html>
