<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/cartStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>HydroHomies</title>
    <script src="../templates/cart.js" async></script>
</head>
<body>
    <header>
        <div class="header-logo"><a href="">HydroHomies</a></div>
        <div class="header-lists">
            <ul class="header-links">
                <li><a href="./all_products.html">Products</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
            <ul class="header-links">
                <li><a href="./profile.html"><img src="../../assets/icons/profile.png" alt="profile-picture" height="36px" ></a></li>
                <li><a href="./index.html"><img src="../../assets/icons/exit.png" alt="exit-picture" height="36px" ></a></li>
                <li><a href="./shopping_cart.html"><img src="../../assets/icons/shopping-cart.png" alt="shopping-cart-picture" height="36px" ></a></li>
            </ul>
        </div>

    </header>

    <main>
        <div class="left-panel"></div>
        <div class="center-panel">
            <div class="primary-container">
                <div class="header-filler"></div>
                <div class="top-cart-container">
                    <h1><p>Your Shopping Cart</p></h1>
                </div>
                <div class="middle-cart-container">
                    <div class="basket-item-row">
                        <img class="basket-item-image" src="../../images/Agua_Pedras_Salg_1x250ml.jpg">
                        <div class="basket-item-name">
                            <h2>Agua Pedras Salg - 250ml</h2>
                            <div class="input-group quantity-selector">
                                <input type="number" id="inputQuantitySelector" class="form-control"
                                 data-bs-step="counter" name="quantity" title="quantity" value="3" 
                                 min="0" max="99" step="1" data-bs-round="0">
                            </div>
                        </div>
                        <div class="basket-item-space"></div>
                        <div class="basket-item-price">
                            <h3>€4.60</h3>
                            <button class="button-delete" role="button">delete</button>
                        </div>
                    </div>                    
                    <div class="basket-item-row">
                        <img class="basket-item-image" src="../../images/Dasani_12x500ml.jpeg">
                        <div class="basket-item-name">
                            <h2>Dasani - 12x500ml</h2>
                            <div class="input-group quantity-selector">
                                <input type="number" id="inputQuantitySelector" class="form-control" 
                                 data-bs-step="counter" name="quantity" title="quantity" value="2" 
                                 min="0" max="99" step="1" data-bs-round="0">
                            </div>
                        </div>
                        <div class="basket-item-space"></div>
                        <div class="basket-item-price">
                            <h3>€30.00</h3>
                            <button class="button-delete" role="button">delete</button>
                        </div>
                    </div>
                </div>
                <div class="subtotal-cart-container">
                    <div class="subtotal-content">
                        <div class="subtotal-item"> 
                            <span class="subtotal-title"> Subtotal (X items):</span>
                            <strong class="subtotal-price">€73.80</strong>
                        </div>
                    </div>
                </div>
                <div class="bottom-cart-container">
                    <button class="button-cart" role="button">Continue Shopping</button>
                    <button class="button-cart" role="button">Checkout</button>
                </div>
                
            </div>
        </div>
        <div class="right-panel"></div>

    </main>
    <footer id="footer">
        <div class="footer-column-container">
            <div class="footer-column">
                <h1>Contact</h1>
                <ul>
                    <li>Phone number: +45 12 34 56 78</li>
                    <li>Email: hydrohomies@hydrohomies.dk</li>
                    <li>Address: 2300 København, Rued Langgaards Vej 7, Room 4A46 </li>
                </ul>
            </div>
            <div class="footer-column">
                <h1>Follow us</h1>
                <ul>
                    <li>Reddit: <span><a href="https://www.reddit.com/r/HydroHomies/">r/HydroHomies</a> </li></span>
                    <li>Instagram: <span><a href="https://www.instagram.com/hydrohomies/">@HydroHomies</a></li></span>
                    <li>X: <span><a href="https://twitter.com/hydro_homies">@hydro_homies</a></li></span>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>