<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/single_product_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>HydroHomies</title>
</head>

<body>
    <header>
        <div class="header-logo"><a href="">HydroHomies</a></div>
        <div class="header-lists">
            <ul class="header-links">
                <li><a href="./all_products.html">Products</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
            <ul class="header-links">
                <li><a href="./profile.html"><img src="../../assets/icons/profile.png" alt="profile-picture"
                            height="36px"></a></li>
                <li><a href="./index.html"><img src="../../assets/icons/exit.png" alt="exit-picture" height="36px"></a>
                </li>
                <li><a href="./shopping_cart.html"><img src="../../assets/icons/shopping-cart.png"
                            alt="shopping-cart-picture" height="36px"></a></li>
            </ul>
        </div>

    </header>

    <main>
        <div class="left-panel"></div>
        <div class="center-panel">
            <div class="product">
                <div class="pictures-rating">
                    <img src="../../images/belle_delphine_bath_water.png" alt="belle-delphine-bath-water"
                        class="product-picture">
                    <div class="rating">
                        <p>Rating</p>
                        <div class="droplets">
                            <img src="../../assets/icons/droplet.png" alt="">
                            <img src="../../assets/icons/droplet.png" alt="">
                            <img src="../../assets/icons/droplet.png" alt="">
                            <img src="../../assets/icons/droplet.png" alt="">
                            <img src="../../assets/icons/droplet.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="product-details">
                    <p class="product-name">Belle Delphine Bathwater</p>
                    <div class="price">
                        <p class="pricetag">99 DKK</p>
                        <p class="vat">incl. VAT</p>
                    </div>

                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore aliqua...<button class="more-button">more</button></p>

                    <div class="product-size">
                        <p class="volume">Volume: </p>
                        <button class="volume-modifier-button">250 ml ▼</button>
                    </div>
                    <div class="share-like">
                        <button class="button">Share</button>
                        <button class="heart-button">❤</button>
                    </div>
                </div>

                <div class="purchase-details">
                    <div class="delivery-details">
                        <p>Free delivery to:</p>
                        <p class="address">Country
                            <br>1111, City,
                            <br>Street, 1.
                        </p>
                    </div>
                    <div class="quantity">
                        <p>Quantity</p>
                        <div class="quantity-modifier">
                            <button class="plus-quantity">+</button>
                            <p class="quantity-number">1</p>
                            <button class="minus-quantity">-</button>
                        </div>
                        <p class="available">999 available</p>
                    </div>
                    <button class="button">Add to cart</button>
                </div>
            </div>
            <a href="https://en.wikipedia.org/wiki/Water" class="campaign">
                <div>
                    HydroHomies big campaign
                </div>
            </a>

            <div class="suggestions">
                <p>Suggestions</p>
                <div class="suggested-items">
                    <div class="suggested-item">
                        <img src="../../images/Liquid_Death_1x500ml.webp" alt="">
                        <p>Liquid Death</p>
                        <p>15 DKK</p>
                    </div>

                    <div class="suggested-item">
                        <img src="../../images/Suncoast_Lightwater_extra_12.png" alt="">
                        <p>Lightwater</p>
                        <p>15 DKK</p>
                    </div>

                    <div class="suggested-item">
                        <img src="../../images/chrome_2024-02-19_19-10-51.png" alt="">
                        <p>Green Craft from the tap</p>
                        <p>15 DKK</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="right-panel"></div>

    </main>
    <footer id="footer">
    </footer>

</body>

</html>