/* ----------------PRODUCT PAGE - SIMON ---------*/

/* LEFT PANEL */


.filter-container {
    display: flex;
    flex-direction: column;
    background-color:  #365486;
    font-size: 20px;
    min-width: 170px;
    padding: 20px 10px 0px 10px;
    border-bottom: 2px solid white;
    color: white;
}

.category-checkbox {
    width: 20px;
    height: 20px;
}

.filter-input {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    border: 0px;
    text-align: center;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.collapsible-filter-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

.collapsed-filter-inputs {
    display: none;
}

.filter-button-container {
    display: flex;
    background-color: #87C4FF;
}


/* CENTER PANEL */

.product-section {
    background-color: rgb(241, 239, 239);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-items: center; /*!!!!*/
}


 @media only screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    .right-panel {
        display: none;
    }
 }

