.product-card {
    background-color: white;
    width: 300px;
    height: 485px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .2s;
}

.product-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.product-image {
    margin-top: 20px;
    text-align: center;
    max-width: 260px;
    max-height: 260px;
    height: auto;
    width: auto;
}

.product-name-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

.product-size {
    font-weight: normal;
    font-size: 20px;
}

.product-name {
    font-size: 25px;
    font-weight: 600;
}

.product-purchase-container {
    font-size: 25px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-purchase-container img {
    background-color: brown;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}