body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 
a {
    text-decoration: none;
    color: inherit;
}

/* ------------------- HEADER ------------------- */
 
header {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, #87C4FF, #6cb5ff);
    height: 70px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.header-logo {
    text-align: center;
    font-size: 40px;
    width: 20%;
}

.header-lists {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
}

.header-links li {
    padding: 20px;
    list-style-type: none;
}

.header-links li:hover {
    background-color: #65b0fb;
}
 

/* ------------------- MAIN ------------------- */


/*--------------- MAIN PANELS -----------------*/

main {
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    width: 100vw;
    margin-top: 70px;
}
 

.left-panel {
    background-color: white;
    min-width: 15%;
}

.center-panel {
    min-width: 70%;

}

.right-panel {
    background-color: white;
    min-width: 15%;
}

/* ------------------- FOOTER ------------------- */



 footer {

    flex-shrink: 0;
    height: 60px;
    background-color: #D3D3D3;
    min-width: 100%;

}

 
 /* ------------------- MOBILE VIEW  ------------------- */

 @media only screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    .right-panel {
        display: none;
    }
 }

