p {
    word-wrap: break-word;
    min-width: 600px;
    max-width: 800px;
}

.Profile-index ul{
    list-style-type: none;
}

.Profile-subindex li {
    list-style-type: none;
}


/* ------------------- HEADER ------------------- */

#center-panel-profile {
        background-color: rgb(241, 239, 239);
}
.profile-left-panel {
    background-color: white; 
    padding: 20px; 
    flex: 1;
    align-items: center;
}

/* .right-panel {
    /*padding: 20px;*/
    /*max-width: 200px;  extra added*/
    /*flex: 1;* 
*/


/* ------------------- FOOTER ------------------- */