p {
    word-wrap: break-word;
    min-width: 600px;
    max-width: 800px;
}

p.notH3 {
    font-weight: bold;
}

p.infoDisplay {
    padding-left: 5%;
    font-style: italic;
}

.Profile-index ul{
    list-style-type: none;
}

.Profile-subindex li {
    list-style-type: none;
}

label.checkbox {
        display: inline-block;
    
}

#password-display {
    visibility: hidden;
}


/* ------------------- HEADER ------------------- */

#center-panel-profile {
        background-color: rgb(241, 239, 239);
}
.profile-left-panel {
    padding-right: 1%;
}


/* ------------------- FOOTER ------------------- */